@fontIconDirectory: '../../packages/font-awesome-kanso/font';

@import "packages/bootstrap/bootstrap/less/bootstrap.less";
@import "packages/font-awesome-kanso/font-awesome.less";

@import "secondbar.less";
@import "wizard_trail.less";

/* Now use bootstrap and less! */



// Baseline grid
@basefont:          14px;
@baseline:          21px;


// http://www.colourlovers.com/pattern/2217189/garden2.0


.banner {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
}

.lead {
    text-align: center;
}