@fontIconDirectory: '../../packages/font-awesome-kanso/font';

@import "packages/bootstrap/bootstrap/less/bootstrap.less";
@import "packages/font-awesome-kanso/font-awesome.less";

@import "secondbar.less";
@import "wizard_trail.less";

/* Now use bootstrap and less! */

@brand-colour: #95B774;

// Baseline grid
@basefont:          14px;
@baseline:          21px;


// http://www.colourlovers.com/pattern/2217189/garden2.0

.brand-colour {
    color: @brand-colour;
}

.banner {
    margin-left: auto;
    margin-right: auto;
    width: 220px;
}

.banner-top {
    margin-top: 10px;
}

.lead {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 0;
}

.features {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 45px;
}

.features img {
    margin-right: 10px;
}

.features p {
    text-align: left;
}

.call-to-action {
    margin-bottom: 50px;
}

.call-to-action .inner {
    width: 479px;
    margin-left: auto;
    margin-right: auto;
}

.call-to-action .btn {
    padding: 14px 24px;
    font-size: 24px;
    font-weight: 200;
}

.call-to-action .poke {

    display: inline-block;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 21px;
    vertical-align: middle;
}

.call-to-action .poke i {
    margin-right: 5px;
}

.affix.banner {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 45px;
}

.affix.banner .ctr {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

/* this makes the page less jumpy on an affix */
.affix.banner + .lead {
    margin-top: 80px; // 35 + 45
}

.sub-header {
    //box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
    background-color: rgba(255,255,255,80);
    background-image: -webkit-linear-gradient(top, #FAFAFA, #EAEAEA);
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0px 10px rgba(0, 0, 0, 0.1);
}

.sub-header .row > div {
    margin-top: 10px;
}

.sub-header .span2 {
    font-size: 20px;
    text-align: right;
    padding-top: 6px;
}

.sub-header .row .nav {
    margin-bottom: 10px !important;
}


.affix.sub-header {
    position: fixed;
    top: 45px;
    left: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    opacity:0.95;
}

.below-fold {
    background: url("grey.png") repeat;
}

/* this makes the page less jumpy on an affix */
.affix.sub-header + .below-fold {
    padding-top: 65px;
}

/* this helps fix the navigation */
.below-fold section:before {

      content:"";
      display:block;
      height:85px; /* fixed header height*/
      margin:-85px 0 0; /* negative fixed header height */

}

section {
    margin-bottom: 100px;
}

#foundations .intro {
    font-size: 24px;
}

#foundations .partner p {
    font-size: 18px;
}

.partner img {
    width: 150px;
}

.partner .outer {
    min-height: 140px;
    width: 160px;
    background-color: #efefef;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    margin-right: 15px;
}

.partner .inner {
    padding: 10px;
}

.partner img {
    max-height: 135px;
}

.partner img.iris {
    margin-top: 25px;
}

#follow ul {
    list-style-type: none;
}

#follow a {
    font-size: 30px;
}

#principles ul {
    list-style-type: none;
}
