<div class="container" role="main" xmlns="http://www.w3.org/1999/html">


        <div class="row jumbotron">
            <div class="span12">
                <div class="banner">
                    <img class="banner" src="static/img/garden20-jumbotron.png" />
                </div>

                <h3 class="lead">A <span class="brand-colour">garden</span> runs apps that are easy to install with offline and multi-device sync.</h3>
            </div>
        </div>
        <div class="row">
            <div class="span12">

            </div>
        </div>
        <div class="row features">
            <div class="span3">
                <img src="static/img/platforms/platforms.png" class="pull-left" />
                <p>A garden can be planted on many different platforms.</p>
            </div>
            <div class="span3">
                <img src="static/img/garden-market.png" class="pull-left"/>
                <p>Pick apps for your garden from many different Garden Markets.</p>
            </div>

            <div class="span3">
                <img src="static/img/garden-sync.png" class="pull-left" />
                <p>Sync your gardens between each other for up to date data.</p>
            </div>
        </div>
        <div class="row well well-large call-to-action">

            <span class="poke">
                <span>Get Started </span><i class="icon-hand-right"></i>
            </span>
            <a href="/apps" class="btn btn-large btn-primary">Browse Apps</a>
            <span class="poke"> or </span>
            <a href="/plant" class="btn btn-large">Plant A Garden</a>
        </div>

    </div>
