<div class="container" id="top">
        <div class="row jumbotron">
            <div class="span12">
                <div class="banner banner-top">
                    <img src="static/img/garden20-jumbotron-top.png" />
                </div>
                <div class="banner banner-bottom affix-top" data-spy="affix" data-offset-top="190">
                    <div class="ctr">
                        <a href="#top">
                            <img src="static/img/garden20-jumbotron-bottom.png" />
                        </a>
                    </div>
                </div>

                <h3 class="lead">Plant html5 <span class="brand-colour">apps</span> in a <span class="brand-colour">garden</span>.
                They are easy to install, work offline and sync together.</h3>
            </div>
        </div>
        <div class="row">
            <div class="span12">

            </div>
        </div>
        <div class="row features">
            <div class="span3">
                <img src="static/img/platforms/platforms.png" class="pull-left" />
                <p>A garden can be planted on many different platforms.</p>
            </div>
            <div class="span3">
                <img src="static/img/garden-market.png" class="pull-left"/>
                <p>Pick apps for your garden from many different Garden Markets.</p>
            </div>

            <div class="span3">
                <img src="static/img/garden-sync.png" class="pull-left" />
                <p>Sync your gardens between each other for up to date data.</p>
            </div>
        </div>
        <div class="row  call-to-action">
            <div class="inner">
                <a href="/apps" class="btn btn-large btn-success">Browse Apps</a>
                <span class="poke"> or </span>
                <a href="/plant" class="btn btn-large">Plant A Garden</a>
            </div>
        </div>
</div>
<div class="sub-header affix-top" data-spy="affix" data-offset-top="551">
    <div class="container">
        <div class="row"  >
            <div class="span2">
                Learn More
            </div>
            <div class="span9">
                <ul class="nav nav-pills spy-on-me" >
                    <li><a href="#uses">Uses</a></li>
                    <li><a href="#principles">Principles</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#foundations">Foundations</a></li>
                    <li><a href="#follow">Follow Us</a></li>


                </ul>
            </div>
        </div>
    </div>
</div>

<div class="below-fold">
    <div class="container">


        <section id="uses">
            <div class="page-header">
                <h1>Uses</h1>
            </div>
            <p>Here are some usages for a <span class="brand-colour">garden</span>:</p>
            <h4>Quick Site Creation</h4>
            <p>
                Its easy to setup a collaborative website using garden apps as building blocks.
            </p>



        </section>

        <section id="principles">
          <div class="page-header">
            <h1>Principles</h1>
          </div>
          The following reasons to use a garden come from <a href="http://unhosted.org/">unhosted.org</a>
          <blockquote>
              <ul>
                <li>
                  <h3>MORE PRIVACY</h3>
                  <p>
                      Because garden apps don't force the use of their servers on you, you can sync your data yourself, to a place that you trust.
                  </p>
                </li>
                <li>
                  <h3>CHEAPER TO PUBLISH</h3>
                  <p>
                      The developer doesn't need to pay for the infrastructure. This makes it feasible to publish unhosted web apps as altruistic free software. Once an unhosted web app is set free into the public domain, it will be available forever.
                  </p>
                </li>
                <li>
                  <h3>DECENTRALIZATION</h3>
                  <p>
                      More robust/resilient architecture, with no Single Point of Failure.
                  </p>
                </li>
                <li>
                    <h3>DATA FREEDOM</h3>
                    <p>
                        With your data living outside the app, you can switch back and forth between apps without even exporting and importing. Better than data liberation, this is personal data freedom brought to the web.
                    </p>
                </li>
                <li>
                    <h3>SCALABILITY</h3>
                    <p>
                        Scalability is built into your unhosted web app from the start. Apps can be distributed through app stores, and each user runs their own local copy of the app while syncing their data to their own remote storage.
                    </p>
                </li>

              </ul>

          </blockquote>


        </section>

        <section id="faq">
          <div class="page-header">
            <h1>FAQ</h1>
          </div>

        </section>
        <section id="foundations">
          <div class="page-header">
            <h1>Foundations</h1>
          </div>
          <p class="intro">
              A <span class="brand-colour">Garden</span> is founded on some amazing technology. Here are our roots:
          </p>
          <div class="row">
              <div class="span6">
                  <div class="partner clearfix">
                      <div class="outer pull-left">
                          <div class="inner">
                              <img src="static/img/partners/HTML5_Logo_128.png" alt="HTML5" class="">
                          </div>
                      </div>

                      <p>
                          Gardens apps use the power of HTML5, which is the platform of the web.
                      </p>
                  </div>
                  <div class="partner clearfix">
                      <div class="outer pull-left">
                          <div class="inner">
                              <img src="static/img/partners/couchdb.jpeg" alt="CouchDB" class="">
                          </div>
                      </div>
                      <p>
                          A garden runs on CouchDB - a NoSQL database that is fast, scalable, and pure awesome.
                      </p>
                  </div>
              </div>
              <div class="span6">
                  <div class="partner clearfix">
                      <div class="outer pull-left">
                          <div class="inner">
                              <img src="static/img/partners/iris_couch.png" alt="Iris Couch" class="iris">
                          </div>
                      </div>
                        <p>
                            Iris Couch provides all the hosting for Garden20.
                        </p>
                  </div>
                  <div class="partner clearfix">
                      <div class="outer pull-left">
                          <div class="inner">
                              <img src="static/img/partners/kanso.png" alt="Iris Couch" class="">
                          </div>
                      </div>

                      <p>
                          Kanso is the development tool to use to develop garden apps.
                      </p>
                  </div>
              </div>
          </div>
        </section>
        <section id="follow">
          <div class="page-header">
            <h1>Follow Us</h1>
          </div>
          <ul>
              <li><a href="https://github.com/garden20" class="" ><i class="icon-github"></i> http://github.com/garden20</a></li>
              <li><a href="https://twitter.com/garden20_"><i class="icon-twitter"></i> @garden20_</a></li>
          </ul>
        </section>
    </div>
</div>