<div class="container bottom-space">
    <div class="row">
      <div class="span4">
        <div class="market-icon">
            <a href="{{baseURL}}"><img src="{{baseURL}}/static/img/market-logo.png"/></a>
        </div>
      </div>
      <div class="span10">


      </div>
    </div>
    <div class="row app_top">
      <div id="details_sidebar" class="span4" data-hosted="{{hosted}}" class="app_info" data-appurl="{{app_url}}">


      </div>

      <div class="span8 install_where" data-host_options="{{host_options}}">

          <h1>2a. Signup/Login</h1>
          <p class="hook">
              Thanks for choosing Garden20 to host your app. Please sign-up or login.
          </p>
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#signup"  data-toggle="tab">Signup</a>
            </li>
            <li><a href="#login"  data-toggle="tab">Login</a></li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane active" id="signup">

                  <div class="row">
                      <div class="span 6">
                          <form class="main form-horizontal " >
                              <div class="alert alert-message error" style="display: none;">
                                 <p><strong>Errors!</strong> Change the following.</p>
                                 <ul>

                                 </ul>
                             </div>


                             <div class="control-group">
                               <label class="control-label" for="space">Space *</label>
                               <div class="controls">
                                   <input type="text" name="space" class="span2"/> .garden20.com
                                   <p class="help-block availablity">&nbsp;</p>
                               </div>
                             </div>

                             <div class="control-group">
                               <label class="control-label" for="first_name">First Name</label>
                               <div class="controls">
                                   <input type="text" name="first_name"/>
                               </div>
                             </div>

                             <div class="control-group">
                               <label class="control-label" for="last_name">Last Name</label>
                               <div class="controls">
                                   <input type="text" name="last_name"/>
                               </div>
                             </div>

                             <div class="control-group">
                               <label class="control-label" for="email">Email *</label>
                               <div class="controls">
                                   <input type="text" name="email"/>
                               </div>
                             </div>

                             <div class="control-group">
                               <label class="control-label" for="password">Password *</label>
                               <div class="controls">
                                   <input type="password" name="password"/>
                               </div>
                             </div>

                             <div class="control-group">
                               <label class="control-label" for="confirm_password">Confirm Password *</label>
                               <div class="controls">
                                   <input type="password" name="confirm_password"/>
                               </div>
                             </div>


                             <fieldset class="form-actions start-install light">
                                <a href="{{app_url}}/install">Prev</a>
                               <button class="btn btn-primary success go-button">Sign Up</button>
                             </fieldset>

                             <div class="install-info" style="display: none;">
                                 <div class="progress info striped active"  >
                                   <div class="bar" style="width: 10%;"></div>
                                 </div>
                                 <h4>Please wait..</h4>
                             </div>
                          </form>
                         <form class="second install-complete" action="/_session" method="POST"  style="display: none;">

                             <input type="hidden" name="name" />
                             <input type="hidden" name="password" />

                             <fieldset class="form-actions " >
                                 <button type="submit" class="btn btn-primary" >Next</button>
                             </fieldset>
                         </form>
                      </div>
                      <div class="span2 infobox">
                          <p>
                              Create an online garden by signing up with Garden20. You will be provisioned your own hosted space.
                          </p>
                          <p>
                              Your garden is completely private, and is hosted on <a href="http://iriscouch.com">IrisCouch</a>. They have a solid
                              policy regarding your data, which you can read about <a href="http://www.iriscouch.com/policy">here</a>.
                          </p>
                      </div>
                  </div>


              </div>
              <div class="tab-pane" id="login">
                  <form class="form-horizontal login" method="POST" action="UNSET">
                    <div class="control-group">
                        <label class="control-label" for="name">Email *</label>
                        <div class="controls">
                            <input type="text" name="name"/>
                        </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label" for="password">Password *</label>
                      <div class="controls">
                          <input type="password" name="password"/>
                      </div>
                    </div>

                    <fieldset class="form-actions light">
                      <a href="{{app_url}}/install">Prev</a>
                      <button  class="btn btn-primary" >Login</button>
                    </fieldset>
                  </form>
              </div>
          </div>
      </div>
    </div>

</div>
<script type="text/javascript" src="static/js/install.js"></script>